header {
    background-color: #539fec;
    background-image: url(img/pattern.png);
    background-size: contain;
}
#logo_booleaner {
    width: 150px;
    padding-top: 30px;
}
.color_blue {
    color: aqua;
}
.scrittura_piccola{
    font-size: 10px;
    margin-top: 0%;
}
.colore_font_chiaro {
    color: gray;
}
.prima_colonna{
    width: 25%;
}
.seconda_colonna {
    width: 25%;
}
.table_title{
    background-color: #539fec;
    color: white;
}
.color_tr {
    background-color: aqua;
}
.text_highlighted {
    background-color: yellow;
}