header {
    background-color: #539fec;
    background-image: url(img/pattern.png);
    background-size: 300px, contain;
}
table{
    border-collapse: collapse;
}
#logo_booleaner {
    width: 150px;
    padding-top: 30px;
}
.color_blue {
    color: aqua;
}
.scrittura_piccola{
    font-size: .7rem;
    margin-top: 0%;
}
.colore_font_chiaro {
    color: gray;
}
.width_25{
    width: 25%;
}
.table_title{
    background-color: #539fec;
    color: white;
}
.color_tr {
    background-color: aqua;
}
.text_highlighted {
    background-color: yellow;
}
.article_closing_image {
    color: white;
    width: 20%;
    padding-bottom: 150px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
#bg_image_n1{
    background-image: url(img/monitor.jpg);
    background-size: contain;
}
#bg_image_n2 {
    background-image: url(img/graph.jpg);
    background-size: contain;
}