header {
    background-color: #539fec;
    background-image: url(img/pattern.png);
    background-size: contain;
}
#logo_booleaner {
    width: 150px;
    padding-top: 30px;
}
.color_blue {
    color: aqua;
}
.scrittura_piccola{
    font-size: 10px;
    margin-top: 0%;
}
.colore_font_chiaro {
    color: gray;
}
